body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(img/left-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

* {
  box-sizing: border-box;
}

:root {
  --color-1: #186cb8;
  --color-2: #2a9a9f;
  --color-3: #f1b211;
  --color-4: #e83611;
  --color-5: #f9002f;
}

.wrapper {
  line-height: 1;
  min-height: 100%;
  display: grid;
  place-items: center;
  min-height: calc(100vh - 16px);
}

h1 {
  letter-spacing: 30px;
  font-family: "Exo", sans-serif;
  font-size: 30vw;
  font-weight: 900;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: auto;
  text-transform: uppercase;
  background: linear-gradient(
    219deg,
    var(--color-1) 19%,
    transparent 19%,
    transparent 20%,
    var(--color-2) 20%,
    var(--color-2) 39%,
    transparent 39%,
    transparent 40%,
    var(--color-3) 40%,
    var(--color-3) 59%,
    transparent 59%,
    transparent 60%,
    var(--color-4) 60%,
    var(--color-4) 79%,
    transparent 79%,
    transparent 80%,
    var(--color-5) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
h2 {
  letter-spacing: 10px;
  font-family: "Exo", sans-serif;
  font-size: 50px;
  font-weight: 90;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: 100%;
  margin: auto;
  text-transform: uppercase;
  background: linear-gradient(
    219deg,
    var(--color-1) 19%,
    transparent 19%,
    transparent 20%,
    var(--color-2) 20%,
    var(--color-2) 39%,
    transparent 39%,
    transparent 40%,
    var(--color-3) 40%,
    var(--color-3) 59%,
    transparent 59%,
    transparent 60%,
    var(--color-4) 60%,
    var(--color-4) 79%,
    transparent 79%,
    transparent 80%,
    var(--color-5) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.container {

  padding: 6.5rem;
  text-align: center;
  background: radial-gradient(
      circle at 1.4% 1.4%,
      var(--color-1) 0.8%,
      transparent 0.8%
    ),
    radial-gradient(circle at 5.5% 3%, var(--color-2) 0.45%, transparent 0.45%),
    radial-gradient(circle at 2.5% 3.5%, var(--color-3) 0.5%, transparent 0.5%),
    radial-gradient(
      circle at 4.5% 1.2%,
      var(--color-4) 0.25%,
      transparent 0.25%
    ),
    radial-gradient(circle at 98% 98%, var(--color-1) 0.8%, transparent 0.8%),
    radial-gradient(circle at 95% 95%, var(--color-2) 0.45%, transparent 0.45%),
    radial-gradient(
      circle at 94.5% 97.5%,
      var(--color-3) 0.5%,
      transparent 0.5%
    ),
    radial-gradient(
      circle at 98.5% 95.5%,
      var(--color-4) 0.25%,
      transparent 0.25%
    );
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 8.5rem;
  }
}

.big-text,
.med-text,.small-text
{
  color: white;
  padding: 0px;
  margin-left: 10px;
  font-family: "Aubrey";
  font-weight: 800;
}

.big-text {
  font-size: 80px;
  letter-spacing: 10px;
}
.med-text {
  font-size: 60px;
  letter-spacing: 10px;
}
.small-text {
  font-size: 30px;
  letter-spacing: 10px;
}
/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  margin: 10px;
}

.left {
  width: 38%;
  background: url(img/list.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 1000px;
}

.right {
  width: 58%;
  height: 1000px;
  font-size: 22px;
  color: white;
  padding: 30px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
button{
  border: solid rgb(255, 254, 254);
background-color: transparent;
color: white;
padding: 20px;
margin-left: 10px;
font-family: "Aubrey";
font-size: 50px;
}
button:hover{
  cursor: pointer;
  background-color: gainsboro;
  color: black;
}
